<div class="footer bgc-main">
    <div class="container">
        <div class="d-flex footer-box">
            <div class="footer-list">
                <div class="home-menu">
                    <ul class="d-flex">
                        <li><a href="#">首頁</a></li>
                        <li><a href="#">系列鏡框</a></li>
                        <li><a href="#">門市據點</a></li>
                        <li><a href="#">部落格</a></li>
                        <li><a href="#">常見問題</a></li>
                    </ul>
                </div>
                <ul class="footer-contact">
                    <li>
                        <a href="#">
                        <span class="material-symbols-outlined icon-size">
                            call
                            </span>0800-000-000
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="material-symbols-outlined icon-size">
                            mail
                            </span>glasses@business.com
                        </a>
                    </li>
                </ul>    
            </div>
            <div class="ic-social d-flex">
                <a href=""><img src="../assets/images/ic-social-fb.png" alt=""></a>
                <a href=""><img src="../assets/images/ic_social_ig.png" alt=""></a>
                <a href=""><img src="../assets/images/ic_social_line.png" alt=""></a>
            </div>
        </div>

        <hr/>
        <div class="d-flex footer-end">
            <i>Copyright © 2020 Glasses.All rights reserved.</i>
            <ul class="d-flex">
                <li><a href="#">隱私權政策</a></li>
                <li><a href="#">服務條款</a></li>
            </ul>
        </div>

    </div>
</div>