<div class="bgc-main">
    <div class="container">
        <div class="header d-flex">
            <div class="logo">
                <a href="#"><img src="../assets/images/logo-white.png" alt="logo"></a>
            </div>
            <div class="home-menu">
                <ul class="d-flex">
                    <li><a href="#">系列鏡框</a></li>
                    <li><a href="store.html">門市據點</a></li>
                    <li><a href="#">部落格</a></li>
                    <li><a href="faq.html">常見問題</a></li>
                </ul>
            </div>
        </div>           
    </div>
</div>