*,*::after,*::before{
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-family: "Roboto", "Noto Sans Mono CJK TC";
}

img{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}
hr{
    border: none;
    border-top: solid 1px #fff;
    margin: 16px 0;
}

$primary: #AA0601;

.bgc-main{
    background: $primary;
}
.color-main{
    color: #AA0601;
}
.bgc-light{
    background: #FBF2F2;
}
.bgc-dark{
    background: #000;
}
.d-flex{
    display: flex;
}
.container{
    max-width: 1326px;
    margin: 0 auto;
    padding: 0 15px;
}

.big-title{
    font-size: 48px;
    line-height: 1.5;
    font-weight: bold;
    margin: 96px 0 32px 0;
    padding: 0 0 0 16px;
    border-left: 8px solid $primary;
}

.header a, .footer a {
    color: #fff;
    font-size: 20px;
}