<!DOCTYPE html>
<html lang="en">

  <%- include('./layout/head'); -%>

  <body>
    <%- include('./layout/header'); -%>

    <div class="container">
        <h1 class="big-title">門市據點</h1>
        <div class="store-location">
            <label class="" for="input01">選擇地區</label>
            <select class="" id="input01">
              <option selected>台北市</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
            </select>
          </div>
        <ul class="store-card">
            <li class="store-card-item">
                <img src="../assets/images/store-1.png" alt="">
                <h3>台北中山旗艦店</h3>
                <ul class="store-card-info">
                    <li>
                        <span class="material-symbols-outlined info-icon-size">call</span><a href="tel:+886-2-0001234">電話：(02)000-1234</a>
                    </li>
                    <li>
                        <span class="material-symbols-outlined info-icon-size">schedule</span><a href="tel:+886-2-0001234"></a>營業時間：10:00-21:00
                    </li>
                    <li>
                        <span class="material-symbols-outlined info-icon-size">location_on</span>地址：台北市中山區南京東路25巷2-1號
                    </li>
                </ul>
                <div class="store-card-btn"><a href="#">詳細資訊</a></div>
            </li>
            <li class="store-card-item">
                <img src="../assets/images/store-2.png" alt="">
                <h3>台北綠園店</h3>
                <ul class="store-card-info">
                    <li>
                        <span class="material-symbols-outlined info-icon-size">call</span><a href="tel:+886-2-0001234">電話：(02)000-1234</a>
                    </li>
                    <li>
                        <span class="material-symbols-outlined info-icon-size">schedule</span><a href="tel:+886-2-0001234"></a>營業時間：10:00-21:00
                    </li>
                    <li>
                        <span class="material-symbols-outlined info-icon-size">location_on</span>地址：台北市中正區復興南路 132-1 號
                    </li>
                </ul>
                <div class="store-card-btn"><a href="#">詳細資訊</a></div>
            </li>
            <li class="store-card-item">
                <img src="../assets/images/store-3.png" alt="">
                <h3>台中清水旗艦店</h3>
                <ul class="store-card-info">
                    <li>
                        <span class="material-symbols-outlined info-icon-size">call</span><a href="tel:+886-2-0001234">電話：(02)000-1234</a>
                    </li>
                    <li>
                        <span class="material-symbols-outlined info-icon-size">schedule</span><a href="tel:+886-2-0001234"></a>營業時間：10:00-21:00
                    </li>
                    <li>
                        <span class="material-symbols-outlined info-icon-size">location_on</span>地址：台中市清水區經南一路 23 號 8 樓
                    </li>
                </ul>
                <div class="store-card-btn"><a href="#">詳細資訊</a></div>
            </li>
            <li class="store-card-item">
                <img src="../assets/images/store-4.png" alt="">
                <h3>高雄中正形象店</h3>
                <ul class="store-card-info">
                    <li>
                        <span class="material-symbols-outlined info-icon-size">call</span><a href="tel:+886-2-0001234">電話：(02)000-1234</a>
                    </li>
                    <li>
                        <span class="material-symbols-outlined info-icon-size">schedule</span><a href="tel:+886-2-0001234"></a>營業時間：10:00-21:00
                    </li>
                    <li>
                        <span class="material-symbols-outlined info-icon-size">location_on</span>地址：高雄市苓雅區中正路 38 號 12 樓
                    </li>
                </ul>
                <div class="store-card-btn"><a href="#">詳細資訊</a></div>
            </li>
            <li class="store-card-item">
                <img src="../assets/images/store-5.png" alt="">
                <h3>高雄夢時代店</h3>
                <ul class="store-card-info">
                    <li>
                        <span class="material-symbols-outlined info-icon-size">call</span><a href="tel:+886-2-0001234">電話：(02)000-1234</a>
                    </li>
                    <li>
                        <span class="material-symbols-outlined info-icon-size">schedule</span><a href="tel:+886-2-0001234"></a>營業時間：10:00-21:00
                    </li>
                    <li>
                        <span class="material-symbols-outlined info-icon-size">location_on</span>地址：高雄市前鎮區中華一路 63 號 6 樓
                    </li>
                </ul>
                <div class="store-card-btn"><a href="#">詳細資訊</a></div>
            </li>
        </ul>
    </div>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>